html {
  scroll-behavior: smooth;
}
body {
  /*background-color: #33ccff;*/
  font-family: Arial;
  user-select: none;
}

#container {
    background: linear-gradient(to bottom left, #0066ff 0%, #ccffff 100%);
}

#naglowek {
  font-size: 70px;
}

