html {
  scroll-behavior: smooth;
}
body {
  /*background-color: #33ccff;*/
  font-family: Arial;
  /*user-select: none;*/
  margin: 0px;
}


#container
	{
		width: auto;

  }

#logo
	{
		/*background-color: rgb(0, 0, 0);*/
		color: white;
		text-align: center;
		padding: 10px;
    background: linear-gradient(to bottom left, #0066ff 0%, #ccffff 100%);
    font-size: 50px;
    width: auto;
  }
#nav
	{
    background: whitesmoke;
		padding: 10px;
    text-align: center;
    clear: both;
    width: 100%;
    font-size: 20px;
    position: fixed;
    border: 1px solid black;
    opacity: 80%;
    }
a:link {
  color: black;
  text-decoration: none;
}
#FAQ
  {
    width: auto;
    background:lightblue;
		padding: 10px;
    text-align: center;
    clear: both;
    font-size: 15px;
  }
#Ulotka
  {
    width: auto;
    background:rgb(255, 255, 255);
		padding: 10px;
    text-align: center;
    clear: both;
    font-size: 15px;
  }
